
aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid $secondary-color;
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	
	

	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;

		h1 {
			position: absolute;
			width: 100%;
			margin: 0;
			text-align: center;
			font-weight: 300;
			line-height: $navbar-height;
			color: $primary-color;
			
			.headline-highlight {
				font-weight: 600;
				padding-left: 5px;
				line-height: $navbar-height;
			}
		}
	
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			padding-left: 20px;
	
			li {
				float: left;
				position: relative;
				color: $link-color;
				padding-right: $navbar-padding / 2;
				padding-left: $navbar-padding / 2;
				
				a {
					text-decoration: none;
					display: block;
					font-family: 'Muli', sans-serif;
					line-height: $navbar-height;
					margin-bottom: -1px;
					box-shadow: 0;
					color: $link-color;

					&:hover,
					&:active {
						text-decoration: none;
						color: $link-hover-color;
					}
					svg {
						position: relative;
						top: 3px;	
						transition: transform 0.2 ease-in;
						-webkit-transition: transform 0.2 ease-in;
						-moz-transition: transform 0.2 ease-in;
						-o-transition: transform 0.2 ease-in;

						path {
							fill: $link-color;
						}

						&:hover path {
							fill: $link-hover-color;
						}
					}
				}
			}
		}
	
		.language-selector {
			position: absolute;
			right: 0;

			a {
				text-decoration: none;
				line-height: $navbar-height;
				padding-right: 10px;
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}