<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main class="container">
		<p class="post-date">{{ page.date | date: '%d. %B %Y' }}</p>
		<div class="start">
			{{ content }}
		</div>
		<hr>
		<div class="post-navigation">
			{% if page.previous %}
			<a class="previous-post" href="{{ page.previous.url | prepend: site.baseurl }}"><span class="normal-text">←︎ </span>{{ page.previous.title }}</a>
			{% endif %}
			{% if page.next %}
			<a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}"><span class="normal-text">→ </span>{{ page.next.title }}</a>
			{% endif %}
		</div>
		{% include footer.html %}
	</main>
</body>

</html>